.navbar_changing{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: rgb(187, 177, 177);
    color: black;
   
}

.items{
    border-bottom: 2px solid black;
    color: black; 
    font-size: larger;
    width: 100%;
    margin-bottom: 0px;
    background-color: white;
    display: none;
    
    

}




p , h4{
    font-weight: bold;
    color: black; 
}


section{
    background-color: rgb(187, 177, 177);
    border: 1px solid rgb(187, 177, 177);
    padding: 15px;
    margin-bottom: 25px;
    
    
}

button{
    float: right;
    margin-top: 12px;
    border: 3px solid black;
    background-color: rgb(187, 177, 177);
    display: none;
    
}




@media  (max-width:567px) {
    button{
        display: block;
    }

    .items{
        display: block;
    }

    .toggle_button{
        border: 3px solid white;
        
    }

    .toggle_button_elements{
        color: white;
    }
    
}


